<?xml version="1.0" encoding="utf-8" ?>
 <appSettings>
   <!--<add key="StorageConnectionString" value="Server=tcp:robcornell.database.windows.net,1433;Initial Catalog=AssetManagementStocks;Persist Security Info=False;User ID=robcornell;Password=Pacman0373;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
 </appSettings>
